version: '3.5'

services:
  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Изолируем node_modules от хоста
    environment:
      - NODE_ENV=development
      - VITE_API_URL=https://wishlistprice.ru/api
    depends_on:
      - backend
    networks:
      - app-network
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./frontend:/usr/share/nginx/html
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend-app
    env_file:
      - ENV/.env 
    # volumes:
    # - ./backend/:/app
    # ports:
    #   - "8000:80"  # Закомментировано для безопасности
    expose:
      - "80"
    depends_on:
      - database
    networks:
      - app-network

  database:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
      POSTGRES_DB: telegram_app_db  
    ports:
      - "5437:5432"
    volumes:
      - database-data:/var/lib/postgresql/data
    networks:
      - app-network

volumes:
  database-data:

networks:
  app-network:
    driver: bridge